*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: green;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;

}
nav ul:nth-child(1) li a {
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
}
nav ul:nth-child(2) li a {
    font-size: 15px;
    font-family: sans-serif;
    color: #fff;

}
button{
    width: 280px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background: blue;
}